<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
  Class: ConstantContact::Components::Campaign
  
    &mdash; Documentation by YARD 0.8.7.4
  
</title>

  <link rel="stylesheet" href="../../css/style.css" type="text/css" charset="utf-8" />

  <link rel="stylesheet" href="../../css/common.css" type="text/css" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  hasFrames = window.top.frames.main ? true : false;
  relpath = '../../';
  framesUrl = "../../frames.html#!ConstantContact/Components/Campaign.html";
</script>


  <script type="text/javascript" charset="utf-8" src="../../js/jquery.js"></script>

  <script type="text/javascript" charset="utf-8" src="../../js/app.js"></script>


  </head>
  <body>
    <div id="header">
      <div id="menu">
  
    <a href="../../_index.html">Index (C)</a> &raquo;
    <span class='title'><span class='object_link'><a href="../../ConstantContact.html" title="ConstantContact (module)">ConstantContact</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../Components.html" title="ConstantContact::Components (module)">Components</a></span></span>
     &raquo; 
    <span class="title">Campaign</span>
  

  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  
    <a class="full_list_link" id="class_list_link"
        href="../../class_list.html">
      Class List
    </a>
  
    <a class="full_list_link" id="method_list_link"
        href="../../method_list.html">
      Method List
    </a>
  
    <a class="full_list_link" id="file_list_link"
        href="../../file_list.html">
      File List
    </a>
  
</div>
      <div class="clear"></div>
    </div>

    <iframe id="search_frame"></iframe>

    <div id="content"><h1>Class: ConstantContact::Components::Campaign
  
  
  
</h1>

<dl class="box">
  
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName"><span class='object_link'><a href="Component.html" title="ConstantContact::Components::Component (class)">Component</a></span></span>
      
        <ul class="fullTree">
          <li>Object</li>
          
            <li class="next"><span class='object_link'><a href="Component.html" title="ConstantContact::Components::Component (class)">Component</a></span></li>
          
            <li class="next">ConstantContact::Components::Campaign</li>
          
        </ul>
        <a href="#" class="inheritanceTree">show all</a>
      
      </dd>
    
  
  
    
  
    
  
  
  
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">lib/constantcontact/components/email_marketing/campaign.rb</dd>
  
</dl>
<div class="clear"></div>





  <h2>Instance Attribute Summary <small>(<a href="#" class="summary_toggle">collapse</a>)</small></h2>
  <ul class="summary">
    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#click_through_details-instance_method" title="#click_through_details (instance method)">- (Object) <strong>click_through_details</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute click_through_details.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#created_date-instance_method" title="#created_date (instance method)">- (Object) <strong>created_date</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute created_date.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#email_content-instance_method" title="#email_content (instance method)">- (Object) <strong>email_content</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute email_content.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#email_content_format-instance_method" title="#email_content_format (instance method)">- (Object) <strong>email_content_format</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute email_content_format.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#from_email-instance_method" title="#from_email (instance method)">- (Object) <strong>from_email</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute from_email.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#from_name-instance_method" title="#from_name (instance method)">- (Object) <strong>from_name</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute from_name.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#greeting_name-instance_method" title="#greeting_name (instance method)">- (Object) <strong>greeting_name</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute greeting_name.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#greeting_salutations-instance_method" title="#greeting_salutations (instance method)">- (Object) <strong>greeting_salutations</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute greeting_salutations.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#greeting_string-instance_method" title="#greeting_string (instance method)">- (Object) <strong>greeting_string</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute greeting_string.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#id-instance_method" title="#id (instance method)">- (Object) <strong>id</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute id.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#is_permission_reminder_enabled-instance_method" title="#is_permission_reminder_enabled (instance method)">- (Object) <strong>is_permission_reminder_enabled</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute is_permission_reminder_enabled.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#is_view_as_webpage_enabled-instance_method" title="#is_view_as_webpage_enabled (instance method)">- (Object) <strong>is_view_as_webpage_enabled</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute is_view_as_webpage_enabled.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#last_run_date-instance_method" title="#last_run_date (instance method)">- (Object) <strong>last_run_date</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute last_run_date.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#message_footer-instance_method" title="#message_footer (instance method)">- (Object) <strong>message_footer</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute message_footer.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#modified_date-instance_method" title="#modified_date (instance method)">- (Object) <strong>modified_date</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute modified_date.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#name-instance_method" title="#name (instance method)">- (Object) <strong>name</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute name.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#next_run_date-instance_method" title="#next_run_date (instance method)">- (Object) <strong>next_run_date</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute next_run_date.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#permalink_url-instance_method" title="#permalink_url (instance method)">- (Object) <strong>permalink_url</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute permalink_url.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#permission_reminder_text-instance_method" title="#permission_reminder_text (instance method)">- (Object) <strong>permission_reminder_text</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute permission_reminder_text.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#reply_to_email-instance_method" title="#reply_to_email (instance method)">- (Object) <strong>reply_to_email</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute reply_to_email.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#sent_to_contact_lists-instance_method" title="#sent_to_contact_lists (instance method)">- (Object) <strong>sent_to_contact_lists</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute sent_to_contact_lists.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#status-instance_method" title="#status (instance method)">- (Object) <strong>status</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute status.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#style_sheet-instance_method" title="#style_sheet (instance method)">- (Object) <strong>style_sheet</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute style_sheet.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#subject-instance_method" title="#subject (instance method)">- (Object) <strong>subject</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute subject.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#template_type-instance_method" title="#template_type (instance method)">- (Object) <strong>template_type</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute template_type.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#text_content-instance_method" title="#text_content (instance method)">- (Object) <strong>text_content</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute text_content.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#tracking_summary-instance_method" title="#tracking_summary (instance method)">- (Object) <strong>tracking_summary</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute tracking_summary.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#view_as_web_page_link_text-instance_method" title="#view_as_web_page_link_text (instance method)">- (Object) <strong>view_as_web_page_link_text</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute view_as_web_page_link_text.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#view_as_web_page_text-instance_method" title="#view_as_web_page_text (instance method)">- (Object) <strong>view_as_web_page_text</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute view_as_web_page_text.</p>
</div></span>
  
</li>

    
  </ul>




  
    <h2>
      Class Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#create-class_method" title="create (class method)">+ (Campaign) <strong>create</strong>(props) </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Factory method to create an EmailCampaign object from an array.</p>
</div></span>
  
</li>

      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#create_summary-class_method" title="create_summary (class method)">+ (Campaign) <strong>create_summary</strong>(props) </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Factory method to create a Campaign object from an array.</p>
</div></span>
  
</li>

      
    </ul>
  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#add_list-instance_method" title="#add_list (instance method)">- (Object) <strong>add_list</strong>(contact_list) </a>
    

    
  </span>
  
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Add a contact list to set of lists associated with this email.</p>
</div></span>
  
</li>

      
    </ul>
  


  
  
  
  
  
  
  
  
  <h3 class="inherited">Methods inherited from <span class='object_link'><a href="Component.html" title="ConstantContact::Components::Component (class)">Component</a></span></h3>
  <p class="inherited"><span class='object_link'><a href="Component.html#to_hash-instance_method" title="ConstantContact::Components::Component#to_hash (method)">#to_hash</a></span>, <span class='object_link'><a href="Component.html#to_hash_value-class_method" title="ConstantContact::Components::Component.to_hash_value (method)">to_hash_value</a></span>, <span class='object_link'><a href="Component.html#to_json-instance_method" title="ConstantContact::Components::Component#to_json (method)">#to_json</a></span></p>

  <div id="instance_attr_details" class="attr_details">
    <h2>Instance Attribute Details</h2>
    
      
      <span id="click_through_details=-instance_method"></span>
      <div class="method_details first">
  <h3 class="signature first" id="click_through_details-instance_method">
  
    - (<tt>Object</tt>) <strong>click_through_details</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute click_through_details</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_click_through_details'>click_through_details</span>
  <span class='ivar'>@click_through_details</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="created_date=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="created_date-instance_method">
  
    - (<tt>Object</tt>) <strong>created_date</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute created_date</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_created_date'>created_date</span>
  <span class='ivar'>@created_date</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="email_content=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="email_content-instance_method">
  
    - (<tt>Object</tt>) <strong>email_content</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute email_content</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_email_content'>email_content</span>
  <span class='ivar'>@email_content</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="email_content_format=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="email_content_format-instance_method">
  
    - (<tt>Object</tt>) <strong>email_content_format</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute email_content_format</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_email_content_format'>email_content_format</span>
  <span class='ivar'>@email_content_format</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="from_email=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="from_email-instance_method">
  
    - (<tt>Object</tt>) <strong>from_email</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute from_email</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_from_email'>from_email</span>
  <span class='ivar'>@from_email</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="from_name=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="from_name-instance_method">
  
    - (<tt>Object</tt>) <strong>from_name</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute from_name</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_from_name'>from_name</span>
  <span class='ivar'>@from_name</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="greeting_name=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="greeting_name-instance_method">
  
    - (<tt>Object</tt>) <strong>greeting_name</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute greeting_name</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_greeting_name'>greeting_name</span>
  <span class='ivar'>@greeting_name</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="greeting_salutations=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="greeting_salutations-instance_method">
  
    - (<tt>Object</tt>) <strong>greeting_salutations</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute greeting_salutations</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_greeting_salutations'>greeting_salutations</span>
  <span class='ivar'>@greeting_salutations</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="greeting_string=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="greeting_string-instance_method">
  
    - (<tt>Object</tt>) <strong>greeting_string</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute greeting_string</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_greeting_string'>greeting_string</span>
  <span class='ivar'>@greeting_string</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="id=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="id-instance_method">
  
    - (<tt>Object</tt>) <strong>id</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute id</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_id'>id</span>
  <span class='ivar'>@id</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="is_permission_reminder_enabled=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="is_permission_reminder_enabled-instance_method">
  
    - (<tt>Object</tt>) <strong>is_permission_reminder_enabled</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute is_permission_reminder_enabled</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_is_permission_reminder_enabled'>is_permission_reminder_enabled</span>
  <span class='ivar'>@is_permission_reminder_enabled</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="is_view_as_webpage_enabled=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="is_view_as_webpage_enabled-instance_method">
  
    - (<tt>Object</tt>) <strong>is_view_as_webpage_enabled</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute is_view_as_webpage_enabled</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_is_view_as_webpage_enabled'>is_view_as_webpage_enabled</span>
  <span class='ivar'>@is_view_as_webpage_enabled</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="last_run_date=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="last_run_date-instance_method">
  
    - (<tt>Object</tt>) <strong>last_run_date</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute last_run_date</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_last_run_date'>last_run_date</span>
  <span class='ivar'>@last_run_date</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="message_footer=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="message_footer-instance_method">
  
    - (<tt>Object</tt>) <strong>message_footer</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute message_footer</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_message_footer'>message_footer</span>
  <span class='ivar'>@message_footer</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="modified_date=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="modified_date-instance_method">
  
    - (<tt>Object</tt>) <strong>modified_date</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute modified_date</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_modified_date'>modified_date</span>
  <span class='ivar'>@modified_date</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="name=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="name-instance_method">
  
    - (<tt>Object</tt>) <strong>name</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute name</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_name'>name</span>
  <span class='ivar'>@name</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="next_run_date=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="next_run_date-instance_method">
  
    - (<tt>Object</tt>) <strong>next_run_date</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute next_run_date</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_next_run_date'>next_run_date</span>
  <span class='ivar'>@next_run_date</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="permalink_url=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="permalink_url-instance_method">
  
    - (<tt>Object</tt>) <strong>permalink_url</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute permalink_url</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_permalink_url'>permalink_url</span>
  <span class='ivar'>@permalink_url</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="permission_reminder_text=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="permission_reminder_text-instance_method">
  
    - (<tt>Object</tt>) <strong>permission_reminder_text</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute permission_reminder_text</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_permission_reminder_text'>permission_reminder_text</span>
  <span class='ivar'>@permission_reminder_text</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="reply_to_email=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="reply_to_email-instance_method">
  
    - (<tt>Object</tt>) <strong>reply_to_email</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute reply_to_email</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_reply_to_email'>reply_to_email</span>
  <span class='ivar'>@reply_to_email</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="sent_to_contact_lists=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="sent_to_contact_lists-instance_method">
  
    - (<tt>Object</tt>) <strong>sent_to_contact_lists</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute sent_to_contact_lists</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_sent_to_contact_lists'>sent_to_contact_lists</span>
  <span class='ivar'>@sent_to_contact_lists</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="status=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="status-instance_method">
  
    - (<tt>Object</tt>) <strong>status</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute status</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_status'>status</span>
  <span class='ivar'>@status</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="style_sheet=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="style_sheet-instance_method">
  
    - (<tt>Object</tt>) <strong>style_sheet</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute style_sheet</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_style_sheet'>style_sheet</span>
  <span class='ivar'>@style_sheet</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="subject=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="subject-instance_method">
  
    - (<tt>Object</tt>) <strong>subject</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute subject</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_subject'>subject</span>
  <span class='ivar'>@subject</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="template_type=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="template_type-instance_method">
  
    - (<tt>Object</tt>) <strong>template_type</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute template_type</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_template_type'>template_type</span>
  <span class='ivar'>@template_type</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="text_content=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="text_content-instance_method">
  
    - (<tt>Object</tt>) <strong>text_content</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute text_content</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_text_content'>text_content</span>
  <span class='ivar'>@text_content</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="tracking_summary=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="tracking_summary-instance_method">
  
    - (<tt>Object</tt>) <strong>tracking_summary</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute tracking_summary</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_tracking_summary'>tracking_summary</span>
  <span class='ivar'>@tracking_summary</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="view_as_web_page_link_text=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="view_as_web_page_link_text-instance_method">
  
    - (<tt>Object</tt>) <strong>view_as_web_page_link_text</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute view_as_web_page_link_text</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_view_as_web_page_link_text'>view_as_web_page_link_text</span>
  <span class='ivar'>@view_as_web_page_link_text</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="view_as_web_page_text=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="view_as_web_page_text-instance_method">
  
    - (<tt>Object</tt>) <strong>view_as_web_page_text</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute view_as_web_page_text</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_view_as_web_page_text'>view_as_web_page_text</span>
  <span class='ivar'>@view_as_web_page_text</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>


  <div id="class_method_details" class="method_details_list">
    <h2>Class Method Details</h2>

    
      <div class="method_details first">
  <h3 class="signature first" id="create-class_method">
  
    + (<tt><span class='object_link'><a href="" title="ConstantContact::Components::Campaign (class)">Campaign</a></span></tt>) <strong>create</strong>(props) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Factory method to create an EmailCampaign object from an array</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>props</span>
      
      
        <span class='type'>(<tt>Hash</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><ul><li>
<p>properties to create object from</p>
</li></ul>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt><span class='object_link'><a href="" title="ConstantContact::Components::Campaign (class)">Campaign</a></span></tt>)</span>
      
      
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 22</span>

<span class='kw'>def</span> <span class='kw'>self</span><span class='period'>.</span><span class='id identifier rubyid_create'>create</span><span class='lparen'>(</span><span class='id identifier rubyid_props'>props</span><span class='rparen'>)</span>
  <span class='id identifier rubyid_campaign'>campaign</span> <span class='op'>=</span> <span class='const'>Campaign</span><span class='period'>.</span><span class='id identifier rubyid_new'>new</span>
  <span class='kw'>if</span> <span class='id identifier rubyid_props'>props</span>
    <span class='id identifier rubyid_props'>props</span><span class='period'>.</span><span class='id identifier rubyid_each'>each</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_key'>key</span><span class='comma'>,</span> <span class='id identifier rubyid_value'>value</span><span class='op'>|</span>
      <span class='kw'>if</span> <span class='id identifier rubyid_key'>key</span> <span class='op'>==</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>message_footer</span><span class='tstring_end'>'</span></span>
        <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_message_footer'>message_footer</span> <span class='op'>=</span> <span class='const'>Components</span><span class='op'>::</span><span class='const'>MessageFooter</span><span class='period'>.</span><span class='id identifier rubyid_create'>create</span><span class='lparen'>(</span><span class='id identifier rubyid_value'>value</span><span class='rparen'>)</span>
      <span class='kw'>elsif</span> <span class='id identifier rubyid_key'>key</span> <span class='op'>==</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>tracking_summary</span><span class='tstring_end'>'</span></span>
        <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_tracking_summary'>tracking_summary</span> <span class='op'>=</span> <span class='const'>Components</span><span class='op'>::</span><span class='const'>TrackingSummary</span><span class='period'>.</span><span class='id identifier rubyid_create'>create</span><span class='lparen'>(</span><span class='id identifier rubyid_value'>value</span><span class='rparen'>)</span>
      <span class='kw'>elsif</span> <span class='id identifier rubyid_key'>key</span> <span class='op'>==</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>sent_to_contact_lists</span><span class='tstring_end'>'</span></span>
        <span class='kw'>if</span> <span class='id identifier rubyid_value'>value</span>
          <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_sent_to_contact_lists'>sent_to_contact_lists</span> <span class='op'>=</span> <span class='lbracket'>[</span><span class='rbracket'>]</span>
          <span class='id identifier rubyid_value'>value</span><span class='period'>.</span><span class='id identifier rubyid_each'>each</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_sent_to_contact_list'>sent_to_contact_list</span><span class='op'>|</span>
            <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_sent_to_contact_lists'>sent_to_contact_lists</span> <span class='op'>&lt;&lt;</span> <span class='const'>Components</span><span class='op'>::</span><span class='const'>ContactList</span><span class='period'>.</span><span class='id identifier rubyid_create'>create</span><span class='lparen'>(</span><span class='id identifier rubyid_sent_to_contact_list'>sent_to_contact_list</span><span class='rparen'>)</span>
          <span class='kw'>end</span>
        <span class='kw'>end</span>
      <span class='kw'>elsif</span> <span class='id identifier rubyid_key'>key</span> <span class='op'>==</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>click_through_details</span><span class='tstring_end'>'</span></span>
        <span class='kw'>if</span> <span class='id identifier rubyid_value'>value</span>
          <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_click_through_details'>click_through_details</span> <span class='op'>=</span> <span class='lbracket'>[</span><span class='rbracket'>]</span>
          <span class='id identifier rubyid_value'>value</span><span class='period'>.</span><span class='id identifier rubyid_each'>each</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_click_through_details'>click_through_details</span><span class='op'>|</span>
            <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_click_through_details'>click_through_details</span> <span class='op'>&lt;&lt;</span> <span class='const'>Components</span><span class='op'>::</span><span class='const'>ClickThroughDetails</span><span class='period'>.</span><span class='id identifier rubyid_create'>create</span><span class='lparen'>(</span><span class='id identifier rubyid_click_through_details'>click_through_details</span><span class='rparen'>)</span>
          <span class='kw'>end</span>
        <span class='kw'>end</span>
      <span class='kw'>else</span>
        <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_send'>send</span><span class='lparen'>(</span><span class='tstring'><span class='tstring_beg'>&quot;</span><span class='embexpr_beg'>#{</span><span class='id identifier rubyid_key'>key</span><span class='rbrace'>}</span><span class='tstring_content'>=</span><span class='tstring_end'>&quot;</span></span><span class='comma'>,</span> <span class='id identifier rubyid_value'>value</span><span class='rparen'>)</span> <span class='kw'>if</span> <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_respond_to?'>respond_to?</span> <span class='id identifier rubyid_key'>key</span>
      <span class='kw'>end</span>
    <span class='kw'>end</span>
  <span class='kw'>end</span>
  <span class='id identifier rubyid_campaign'>campaign</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      <div class="method_details ">
  <h3 class="signature " id="create_summary-class_method">
  
    + (<tt><span class='object_link'><a href="" title="ConstantContact::Components::Campaign (class)">Campaign</a></span></tt>) <strong>create_summary</strong>(props) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Factory method to create a Campaign object from an array</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>props</span>
      
      
        <span class='type'>(<tt>Hash</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><ul><li>
<p>hash of initial properties to set</p>
</li></ul>
</div>
      
    </li>
  
</ul>

<p class="tag_title">Returns:</p>
<ul class="return">
  
    <li>
      
      
        <span class='type'>(<tt><span class='object_link'><a href="" title="ConstantContact::Components::Campaign (class)">Campaign</a></span></tt>)</span>
      
      
      
    </li>
  
</ul>

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


56
57
58
59
60
61
62
63
64</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 56</span>

<span class='kw'>def</span> <span class='kw'>self</span><span class='period'>.</span><span class='id identifier rubyid_create_summary'>create_summary</span><span class='lparen'>(</span><span class='id identifier rubyid_props'>props</span><span class='rparen'>)</span>
  <span class='id identifier rubyid_campaign'>campaign</span> <span class='op'>=</span> <span class='const'>Campaign</span><span class='period'>.</span><span class='id identifier rubyid_new'>new</span>
  <span class='kw'>if</span> <span class='id identifier rubyid_props'>props</span>
    <span class='id identifier rubyid_props'>props</span><span class='period'>.</span><span class='id identifier rubyid_each'>each</span> <span class='kw'>do</span> <span class='op'>|</span><span class='id identifier rubyid_key'>key</span><span class='comma'>,</span> <span class='id identifier rubyid_value'>value</span><span class='op'>|</span>
      <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_send'>send</span><span class='lparen'>(</span><span class='tstring'><span class='tstring_beg'>&quot;</span><span class='embexpr_beg'>#{</span><span class='id identifier rubyid_key'>key</span><span class='rbrace'>}</span><span class='tstring_content'>=</span><span class='tstring_end'>&quot;</span></span><span class='comma'>,</span> <span class='id identifier rubyid_value'>value</span><span class='rparen'>)</span> <span class='kw'>if</span> <span class='id identifier rubyid_campaign'>campaign</span><span class='period'>.</span><span class='id identifier rubyid_respond_to?'>respond_to?</span> <span class='id identifier rubyid_key'>key</span>
    <span class='kw'>end</span>
  <span class='kw'>end</span>
  <span class='id identifier rubyid_campaign'>campaign</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

  <div id="instance_method_details" class="method_details_list">
    <h2>Instance Method Details</h2>

    
      <div class="method_details first">
  <h3 class="signature first" id="add_list-instance_method">
  
    - (<tt>Object</tt>) <strong>add_list</strong>(contact_list) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Add a contact list to set of lists associated with this email</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>contact_list</span>
      
      
        <span class='type'>(<tt>Mixed</tt>)</span>
      
      
      
        &mdash;
        <div class='inline'><ul><li>
<p>Contact list id, or ContactList object</p>
</li></ul>
</div>
      
    </li>
  
</ul>


</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


69
70
71
72
73
74
75
76
77
78
79</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/email_marketing/campaign.rb', line 69</span>

<span class='kw'>def</span> <span class='id identifier rubyid_add_list'>add_list</span><span class='lparen'>(</span><span class='id identifier rubyid_contact_list'>contact_list</span><span class='rparen'>)</span>
  <span class='kw'>if</span> <span class='id identifier rubyid_contact_list'>contact_list</span><span class='period'>.</span><span class='id identifier rubyid_instance_of?'>instance_of?</span><span class='lparen'>(</span><span class='const'>ContactList</span><span class='rparen'>)</span>
    <span class='id identifier rubyid_list'>list</span> <span class='op'>=</span> <span class='id identifier rubyid_contact_list'>contact_list</span>
  <span class='kw'>elsif</span> <span class='id identifier rubyid_contact_list'>contact_list</span><span class='period'>.</span><span class='id identifier rubyid_to_i'>to_i</span><span class='period'>.</span><span class='id identifier rubyid_to_s'>to_s</span> <span class='op'>==</span> <span class='id identifier rubyid_contact_list'>contact_list</span>
    <span class='id identifier rubyid_list'>list</span> <span class='op'>=</span> <span class='const'>ContactList</span><span class='period'>.</span><span class='id identifier rubyid_new'>new</span><span class='lparen'>(</span><span class='id identifier rubyid_contact_list'>contact_list</span><span class='rparen'>)</span>
  <span class='kw'>else</span>
    <span class='id identifier rubyid_raise'>raise</span> <span class='const'>Exceptions</span><span class='op'>::</span><span class='const'>IllegalArgumentException</span><span class='comma'>,</span> <span class='id identifier rubyid_sprintf'>sprintf</span><span class='lparen'>(</span><span class='const'>Util</span><span class='op'>::</span><span class='const'>Config</span><span class='period'>.</span><span class='id identifier rubyid_get'>get</span><span class='lparen'>(</span><span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>errors.id_or_object</span><span class='tstring_end'>'</span></span><span class='rparen'>)</span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>ContactList</span><span class='tstring_end'>'</span></span><span class='rparen'>)</span>
  <span class='kw'>end</span>

  <span class='ivar'>@sent_to_contact_lists</span> <span class='op'>&lt;&lt;</span> <span class='id identifier rubyid_list'>list</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>

</div>

    <div id="footer">
  Generated on Mon Oct 27 14:20:16 2014 by
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  0.8.7.4 (ruby-1.9.3).
</div>

  </body>
</html>