<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
  Class: ConstantContact::Components::ExportContacts
  
    &mdash; Documentation by YARD 0.8.7.4
  
</title>

  <link rel="stylesheet" href="../../css/style.css" type="text/css" charset="utf-8" />

  <link rel="stylesheet" href="../../css/common.css" type="text/css" charset="utf-8" />

<script type="text/javascript" charset="utf-8">
  hasFrames = window.top.frames.main ? true : false;
  relpath = '../../';
  framesUrl = "../../frames.html#!ConstantContact/Components/ExportContacts.html";
</script>


  <script type="text/javascript" charset="utf-8" src="../../js/jquery.js"></script>

  <script type="text/javascript" charset="utf-8" src="../../js/app.js"></script>


  </head>
  <body>
    <div id="header">
      <div id="menu">
  
    <a href="../../_index.html">Index (E)</a> &raquo;
    <span class='title'><span class='object_link'><a href="../../ConstantContact.html" title="ConstantContact (module)">ConstantContact</a></span></span> &raquo; <span class='title'><span class='object_link'><a href="../Components.html" title="ConstantContact::Components (module)">Components</a></span></span>
     &raquo; 
    <span class="title">ExportContacts</span>
  

  <div class="noframes"><span class="title">(</span><a href="." target="_top">no frames</a><span class="title">)</span></div>
</div>

      <div id="search">
  
    <a class="full_list_link" id="class_list_link"
        href="../../class_list.html">
      Class List
    </a>
  
    <a class="full_list_link" id="method_list_link"
        href="../../method_list.html">
      Method List
    </a>
  
    <a class="full_list_link" id="file_list_link"
        href="../../file_list.html">
      File List
    </a>
  
</div>
      <div class="clear"></div>
    </div>

    <iframe id="search_frame"></iframe>

    <div id="content"><h1>Class: ConstantContact::Components::ExportContacts
  
  
  
</h1>

<dl class="box">
  
    <dt class="r1">Inherits:</dt>
    <dd class="r1">
      <span class="inheritName"><span class='object_link'><a href="Component.html" title="ConstantContact::Components::Component (class)">Component</a></span></span>
      
        <ul class="fullTree">
          <li>Object</li>
          
            <li class="next"><span class='object_link'><a href="Component.html" title="ConstantContact::Components::Component (class)">Component</a></span></li>
          
            <li class="next">ConstantContact::Components::ExportContacts</li>
          
        </ul>
        <a href="#" class="inheritanceTree">show all</a>
      
      </dd>
    
  
  
    
  
    
  
  
  
    <dt class="r2 last">Defined in:</dt>
    <dd class="r2 last">lib/constantcontact/components/activities/export_contacts.rb</dd>
  
</dl>
<div class="clear"></div>





  <h2>Instance Attribute Summary <small>(<a href="#" class="summary_toggle">collapse</a>)</small></h2>
  <ul class="summary">
    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#column_names-instance_method" title="#column_names (instance method)">- (Object) <strong>column_names</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute column_names.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#export_added_by-instance_method" title="#export_added_by (instance method)">- (Object) <strong>export_added_by</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute export_added_by.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#export_date_added-instance_method" title="#export_date_added (instance method)">- (Object) <strong>export_date_added</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute export_date_added.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#file_type-instance_method" title="#file_type (instance method)">- (Object) <strong>file_type</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute file_type.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#lists-instance_method" title="#lists (instance method)">- (Object) <strong>lists</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute lists.</p>
</div></span>
  
</li>

    
      <li class="public ">
  <span class="summary_signature">
    
      <a href="#sort_by-instance_method" title="#sort_by (instance method)">- (Object) <strong>sort_by</strong> </a>
    

    
  </span>
  
  
  
    
    
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Returns the value of attribute sort_by.</p>
</div></span>
  
</li>

    
  </ul>




  
    <h2>
      Instance Method Summary
      <small>(<a href="#" class="summary_toggle">collapse</a>)</small>
    </h2>

    <ul class="summary">
      
        <li class="public ">
  <span class="summary_signature">
    
      <a href="#initialize-instance_method" title="#initialize (instance method)">- (ExportContacts) <strong>initialize</strong>(lists = nil) </a>
    

    
  </span>
  
  
    <span class="note title constructor">constructor</span>
  
  
  
  
  
  

  
    <span class="summary_desc"><div class='inline'>
<p>Constructor to create an ExportContacts object.</p>
</div></span>
  
</li>

      
    </ul>
  


  
  
  
  
  
  
  
  
  <h3 class="inherited">Methods inherited from <span class='object_link'><a href="Component.html" title="ConstantContact::Components::Component (class)">Component</a></span></h3>
  <p class="inherited"><span class='object_link'><a href="Component.html#to_hash-instance_method" title="ConstantContact::Components::Component#to_hash (method)">#to_hash</a></span>, <span class='object_link'><a href="Component.html#to_hash_value-class_method" title="ConstantContact::Components::Component.to_hash_value (method)">to_hash_value</a></span>, <span class='object_link'><a href="Component.html#to_json-instance_method" title="ConstantContact::Components::Component#to_json (method)">#to_json</a></span></p>
<div id="constructor_details" class="method_details_list">
  <h2>Constructor Details</h2>
  
    <div class="method_details first">
  <h3 class="signature first" id="initialize-instance_method">
  
    - (<tt><span class='object_link'><a href="" title="ConstantContact::Components::ExportContacts (class)">ExportContacts</a></span></tt>) <strong>initialize</strong>(lists = nil) 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Constructor to create an ExportContacts object</p>


  </div>
</div>
<div class="tags">
  <p class="tag_title">Parameters:</p>
<ul class="param">
  
    <li>
      
        <span class='name'>lists</span>
      
      
        <span class='type'>(<tt>Array</tt>)</span>
      
      
        <em class="default">(defaults to: <tt>nil</tt>)</em>
      
      
        &mdash;
        <div class='inline'><ul><li>
<p>array of lists ids</p>
</li></ul>
</div>
      
    </li>
  
</ul>


</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


17
18
19
20
21
22
23
24
25
26</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/activities/export_contacts.rb', line 17</span>

<span class='kw'>def</span> <span class='id identifier rubyid_initialize'>initialize</span><span class='lparen'>(</span><span class='id identifier rubyid_lists'>lists</span> <span class='op'>=</span> <span class='kw'>nil</span><span class='rparen'>)</span>
  <span class='kw'>if</span> <span class='op'>!</span><span class='id identifier rubyid_lists'>lists</span><span class='period'>.</span><span class='id identifier rubyid_nil?'>nil?</span>
    <span class='ivar'>@lists</span> <span class='op'>=</span> <span class='id identifier rubyid_lists'>lists</span>
  <span class='kw'>end</span>
  <span class='ivar'>@file_type</span> <span class='op'>=</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>CSV</span><span class='tstring_end'>'</span></span>
  <span class='ivar'>@sort_by</span> <span class='op'>=</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>EMAIL_ADDRESS</span><span class='tstring_end'>'</span></span>
  <span class='ivar'>@export_date_added</span> <span class='op'>=</span> <span class='kw'>true</span>
  <span class='ivar'>@export_added_by</span> <span class='op'>=</span> <span class='kw'>true</span>
  <span class='ivar'>@column_names</span> <span class='op'>=</span> <span class='lbracket'>[</span><span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>Email Address</span><span class='tstring_end'>'</span></span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>First Name</span><span class='tstring_end'>'</span></span><span class='comma'>,</span> <span class='tstring'><span class='tstring_beg'>'</span><span class='tstring_content'>Last Name</span><span class='tstring_end'>'</span></span><span class='rbracket'>]</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
  
</div>

  <div id="instance_attr_details" class="attr_details">
    <h2>Instance Attribute Details</h2>
    
      
      <span id="column_names=-instance_method"></span>
      <div class="method_details first">
  <h3 class="signature first" id="column_names-instance_method">
  
    - (<tt>Object</tt>) <strong>column_names</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute column_names</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/activities/export_contacts.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_column_names'>column_names</span>
  <span class='ivar'>@column_names</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="export_added_by=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="export_added_by-instance_method">
  
    - (<tt>Object</tt>) <strong>export_added_by</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute export_added_by</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/activities/export_contacts.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_export_added_by'>export_added_by</span>
  <span class='ivar'>@export_added_by</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="export_date_added=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="export_date_added-instance_method">
  
    - (<tt>Object</tt>) <strong>export_date_added</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute export_date_added</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/activities/export_contacts.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_export_date_added'>export_date_added</span>
  <span class='ivar'>@export_date_added</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="file_type=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="file_type-instance_method">
  
    - (<tt>Object</tt>) <strong>file_type</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute file_type</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/activities/export_contacts.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_file_type'>file_type</span>
  <span class='ivar'>@file_type</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="lists=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="lists-instance_method">
  
    - (<tt>Object</tt>) <strong>lists</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute lists</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/activities/export_contacts.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_lists'>lists</span>
  <span class='ivar'>@lists</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
      
      <span id="sort_by=-instance_method"></span>
      <div class="method_details ">
  <h3 class="signature " id="sort_by-instance_method">
  
    - (<tt>Object</tt>) <strong>sort_by</strong> 
  

  

  
</h3><div class="docstring">
  <div class="discussion">
    
<p>Returns the value of attribute sort_by</p>


  </div>
</div>
<div class="tags">
  

</div><table class="source_code">
  <tr>
    <td>
      <pre class="lines">


10
11
12</pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File 'lib/constantcontact/components/activities/export_contacts.rb', line 10</span>

<span class='kw'>def</span> <span class='id identifier rubyid_sort_by'>sort_by</span>
  <span class='ivar'>@sort_by</span>
<span class='kw'>end</span></pre>
    </td>
  </tr>
</table>
</div>
    
  </div>


</div>

    <div id="footer">
  Generated on Mon Oct 27 14:20:17 2014 by
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  0.8.7.4 (ruby-1.9.3).
</div>

  </body>
</html>